# Introducing the Dataset

A dataset on the billionaires of the world, acquired [here](https://www.piie.com/publications/working-papers/origins-superrich-billionaire-characteristics-database) was imported into Python for Data Processing, before being sent to Tableau for visualization.

In [1]:
import numpy as np
import pandas as pd

In [2]:
bill = pd.read_csv('billionaires.csv')

In [3]:
bill.head()

,Unnamed: 0,name,year,rank,citizenship,countrycode,networthusbillion,age,sourceofwealth,IndustryAggregates,north,region,industry,company,deflator1996,realnetworth,realbillionaires,gdpcurrentus
0,0,Isabel dos Santos,2013.0,736.0,Angola,AGO,2.0,40.0,investments,Non-Traded Sectors,0.0,Sub-Saharan Africa,Media,NaN,138.80208,1.440901,1.0,1.241632e+11
1,1,Isabel dos Santos,2014.0,408.0,Angola,AGO,3.7,40.0,investments,Financial,0.0,Sub-Saharan Africa,Diversified financial,NaN,138.80210,2.665666,1.0,1.314006e+11
2,2,Isabel dos Santos,2015.0,534.0,Angola,AGO,3.3,41.0,Investments,Financial,0.0,Sub-Saharan Africa,Diversified financial,NaN,138.80210,2.377486,1.0,NaN
3,3,Isabel dos Santos,September 2015,NaN,Angola,AGO,3.0,NaN,Investments,Financial,0.0,Sub-Saharan Africa,Diversified financial,NaN,138.80210,2.161351,1.0,NaN
4,4,Sheikh Zayed Bin Sultan Al Nahyan,1997.0,21.0,United Arab Emirates,ARE,10.0,0.0,NaN,NaN,0.0,Middle East/North Africa,NaN,NaN,101.69270,NaN,1.0,7.883901e+10

We'll look at the unique values in the `year` column.

In [4]:
bill.year.unique()

array(['2013.0', '2014.0', '2015.0', 'September 2015', '1997.0', '1998.0',
       '1999.0', '2000.0', '2001.0', '2002.0', '2003.0', '2004.0',
       '2005.0', '2006.0', '2007.0', '2008.0', '2009.0', '2010.0',
       '2011.0', '2012.0', '1996.0'], dtype=object)

There is a value for `September 2015` that we do not want. We'll drop all rows with a `September 2015` row.

In [6]:
bill = bill[~bill['year'].str.contains('Sep')]

In [8]:
bill.year.unique()

array(['2013.0', '2014.0', '2015.0', '1997.0', '1998.0', '1999.0',
       '2000.0', '2001.0', '2002.0', '2003.0', '2004.0', '2005.0',
       '2006.0', '2007.0', '2008.0', '2009.0', '2010.0', '2011.0',
       '2012.0', '1996.0'], dtype=object)

Let's further remove the ".0" figure in the `year` column.

In [10]:
bill['year'] = bill['year'].str[0:4]

bill.year.unique()

array(['2013', '2014', '2015', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '1996'], dtype=object)

In [13]:
bill.to_csv('billionaires2.csv')